.carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-cart{
    display: flex;
    flex-direction: row;
    width: 800px;
    padding: 15px;
    background-color: #343a40;
    border: none;
}

.card-img-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.card-body-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title-cart{
    font-size: 2em;
    margin-bottom: 50px;
}

.card-subt-cart{
    font-size: 1.5em;
    margin-bottom: 25px;
}

.card-text-cart{
    font-size: 1.2em;
    margin-bottom: 25px;
}