.card{
    display: flex;
    flex-direction: row;
    width: 1000px;
    padding: 15px;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 2em;
    margin-bottom: 50px;
}

.card-subt{
    font-size: 1.5em;
    margin-bottom: 25px;
}

.card-text{
    font-size: 1.2em;
    margin-bottom: 25px;
}