.card{
    display: flex;
    flex-direction: row;
    width: 1000px;
    padding: 15px;
    background-color: #343a40;
    border: none;
    color: white;
    border-radius: 20px;
    min-height: 300px;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 50%;
    max-height: fit-content;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 2em;
    margin-bottom: 50px;
}

.card-subt{
    font-size: 1.5em;
    margin-bottom: 25px;
}

.card-text{
    font-size: 1.2em;
    margin-bottom: 25px;
}

.inputCount{
    display: flex;
    flex-direction: column;
}