.Item{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   margin: 10px;
   height: auto;
}

.card-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
    background-color: #e5e5e5;
    border: none;
    word-wrap: normal;
}

.card-img-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.card-body-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.card-title-item{
    font-size: 1.2em;
    margin-bottom: 50px;
}

.card-subt-item{
    font-size: 1.2em;
    margin-bottom: 25px;
}

.card-text-item{
    font-size: 1em;
    margin-bottom: 25px;
}