.CardCartItem {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    margin: 30px;
    font-size: 10px;
    background-color: #343a40;
    border-radius: 10px;
}

.InfoCartItem {
    margin-right: 50px;
}

.ContainerItemCartItem {
    display: flex;
    justify-content: space-between;
}

.ItemHeaderCartItem {
    display: flex;
    justify-content: space-between;
}

.InfoCartItem {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.ItemFooterCartItem {
    display: flex;
}